.logo {
  width: 6.875rem;
  height: 6.875rem;
  font-size: 4.375rem;
  color: $color-primary;
  border: 3px solid $color-primary;
  border-radius: 50%;
  margin-right: 20px;
  text-decoration: none;
  @include flexLayout;

  @media (max-width: 1000px) {
    font-size: 50px;
    width: 90px;
    height: 90px;
  }

  @media (max-width: 500px) {
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-width: 2px;
  }
}

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 999;

  .menu {
    @extend %fullSpace;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.5s;

    @media (max-width: 800px) {
      height: 35px;
      width: 35px;
    }

    @media (max-width: 500px) {
      height: 25px;
      width: 25px;
    }

    &-line {
      width: 100%;
      height: 4px;
      background-color: $color-primary;
      transform-origin: right;
      transition: all 0.5s 0.5s;
    }
  }
}

.main-name {
  font-family: $font-nunito;
  font-size: 3.125rem;
  color: $color-secondary;
  @include textStyles;

  @media (max-width: 1000px) {
    font-size: 40px;
  }

  @media (max-width: 500px) {
    font-size: 20px;
    text-align: center;
  }
}

.sub-name {
  font-family: $font-josefinSans;
  font-size: 1.125rem;
  color: $color-secondary;
  text-align: center;
  @include textStyles;

  @media (max-width: 500px) {
    font-size: 12px;
  }
}

.main-heading {
  font-family: $font-dancingScript;
  font-size: 6.25rem;
  font-weight: 300;
  color: $color-primary;
  margin-bottom: 40px;

  @media (max-width: 1600px) {
    font-size: 80px;
  }

  @media (max-width: 1000px) {
    font-size: 60px;
  }

  @media (max-width: 500px) {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.sub-heading {
  font-family: $font-josefinSans;
  font-size: 3.5rem;
  font-weight: 300;
  color: $color-secondary;
  margin-bottom: 40px;
  text-align: center;

  @media (max-width: 1600px) {
    font-size: 50px;
    margin-bottom: 50px;
  }

  @media (max-width: 1300px) {
    font-size: 40px;
    margin-bottom: 30px;
  }

  @media (max-width: 1000px) {
    font-size: 30px;
  }

  @media (max-width: 500px) {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.main-btn {
  display: inline-block;
  width: 10.625rem;
  height: 2.8125rem;
  font-family: $font-josefinSans;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-primary;
  background-color: transparent;
  border: 1px solid $color-primary;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-color: $color-primary;
    color: $color-dark;
  }

  @media (max-width: 500px) {
    width: 130px;
    height: 30px;
    margin-top: 20px;
    font-size: 10px;
  }
}

.card {
  position: relative;
  width: 33.3333%;
  height: 30vw;

  &:hover .card-overlay {
    opacity: 1;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba($color-primary, 0.6);
    color: $color-white;
    z-index: 10;
    @include flexLayout;
    flex-direction: column;
    @extend %fullSpace;
    transition: opacity 0.3s ease-in;

    &-heading {
      font-family: $font-nunito;
      font-size: 3.125rem;
      @include textStyles(capitalize);

      @media (max-width: 900px) {
        font-size: 35px;
      }

      @media (max-width: 650px) {
        font-size: 25px;
      }

      @media (max-width: 500px) {
        display: none;
      }
    }

    &-paragraph {
      font-family: $font-josefinSans;
      font-size: 1.875rem;
      margin-bottom: 1.875rem;
      @include textStyles(capitalize);

      @media (max-width: 1000px) {
        font-size: 20px;
      }

      @media (max-width: 650px) {
        font-size: 15px;
      }

      @media (max-width: 500px) {
        display: none;
      }
    }

    &-btn {
      width: 9.375rem;
      height: 2.5rem;
      color: $color-primary;
      background-color: $color-white;
      font-family: $font-josefinSans;
      font-size: 0.875rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 1px solid $color-primary;
      border-radius: 1.875rem;
      outline: none;
      cursor: pointer;

      @media (max-width: 1000px) {
        font-size: 12px;
        width: 130px;
        height: 30px;
      }

      @media (max-width: 800px) {
        height: 35px;
        width: 150px;
        font-size: 12px;
      }

      @media (max-width: 650px) {
        font-size: 10px;
        width: 100px;
        height: 30px;
      }
    }
  }

  &-img {
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }
}
