.logo {
  width: 6.875rem;
  height: 6.875rem;
  font-size: 4.375rem;
  color: $color-primary;
  border: 3px solid $color-primary;
  border-radius: 50%;
  margin-right: 20px;
  @include flexLayout;
}

.main-name {
  font-family: $font-nunito;
  font-size: 3.125rem;
  color: $color-secondary;
  @include textStyles;
}

.sub-name {
  font-family: $font-josefinSans;
  font-size: 1.125rem;
  color: $color-secondary;
  text-align: center;
  @include textStyles;
}

.main-heading {
  font-family: $font-dancingScript;
  font-size: 6.25rem;
  font-weight: 300;
  color: $color-primary;
  margin-bottom: 40px;
}

.sub-heading {
  font-family: $font-josefinSans;
  font-size: 3.5rem;
  font-weight: 300;
  color: $color-secondary;
  margin-bottom: 40px;
}

.main-btn {
  display: inline-block;
  width: 10.625rem;
  height: 2.8125rem;
  font-family: $font-josefinSans;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-primary;
  background-color: transparent;
  border: 1px solid $color-primary;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-color: $color-primary;
    color: $color-dark;
  }
}

.card {
  position: relative;
  width: 33.3333%;
  height: 30vw;

  &:hover .card-overlay {
    opacity: 1;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba($color-primary, 0.6);
    color: $color-white;
    z-index: 10;
    @include flexLayout;
    flex-direction: column;
    @extend %fullSpace;
    transition: opacity 0.3s ease-in;

    &-heading {
      font-family: $font-nunito;
      font-size: 3.125rem;
      @include textStyles(capitalize);
    }

    &-paragraph {
      font-family: $font-josefinSans;
      font-size: 1.875rem;
      margin-bottom: 1.875rem;
      @include textStyles(capitalize);
    }

    &-btn {
      width: 9.375rem;
      height: 2.5rem;
      color: $color-primary;
      background-color: $color-white;
      font-family: $font-josefinSans;
      font-size: 0.875rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 1px solid $color-primary;
      border-radius: 1.875rem;
      outline: none;
      cursor: pointer;
    }
  }

  &-img {
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }
}
